.right-panel{
    display: flex;
    flex-direction: column;
    width: 95%;
    flex-shrink: 0;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
@media screen and (max-width: 1200px) {
    .right-panel{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px)
{
    .right-panel{
        width: 100%;
        margin-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .right-panel>div{
        flex-direction: column;
        align-items: center;
    }
}