.loginForm-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.loginForm-container .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginForm-container .form-container {
  background-color: white;
  padding: 20px;
  padding-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 20px;
  width: 100%;
}

.loginForm-container .form-toggle {
  display: flex;
  justify-content: space-between;
}

.loginForm-container .form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.loginForm-container .form-toggle .active {
  background-color: #033452;
  color: white;
}

.loginForm-container .form {
  display: flex;
  flex-direction: column;
}

.loginForm-container .form h2 {
  margin-bottom: 20px;
}

.loginForm-container .form input {
  padding: 12px 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.loginForm-container .form button {
  padding: 10px;
  background-color:#033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginForm-container .form a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 12px;
  text-align: right;
}

.loginForm-container .form p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

.App.notLogged-in .loginForm-container {
  height: 100vh;
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  .loginForm-container {
    height: auto !important;
  }
}