.main-dash {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}
@media screen and (max-width: 1200px) {
    .main-dash {
        justify-content:flex-start;
    }
}

@media screen and (max-width: 768px)
{
    .main-dash {
        align-items: center;
    }
    .dashboard-scrollable {
        margin-top: 2rem;
    }
}