.MuiTableRow-root > * {
  padding: 10px !important;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

#read_form .table {
  margin: 0px;
}

.table {
  margin: 15px 0px;
}
.dark-mode .table tr td, .table th tr{
  border-bottom: none;
}
.light-mode .table tr td, .table th tr{
  border-bottom: 1px solid rgb(246 243 243);
}
.status {
  padding: 5px 8px;
  border-radius: 9px;
}

.details {
  color: #00b5ff !important;
}

#read_form .right-content {
  display: flex;
  align-items: center; 
  box-shadow: none !important;
  background-color: transparent;
  padding: 8px;
}

#read_form .right-content .search-input .MuiInputBase-input {
  padding: 5px 12px;
}

@media screen and (max-width: 1200px) {
  .table {
    width: 100%;
    margin-top: 2rem;
  }
  #read_form .MuiBox-root.css-7wwrgi, .MuiBox-root.css-1a21q5a {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}


@media screen and (max-width: 768px) {
  .table{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  #read_form .table{
    width: 100%;
  }
  .MuiBox-root.css-7wwrgi, .MuiBox-root.css-1a21q5a {
    width: 100%;
  }
}